<!doctype html>
<html data-framework="vue">
  <head>
    <meta charset="utf-8">
    <title>Vue.js • TodoMVC</title>
  </head>
  <body>
    <section class="todoapp" >
      {{a.s || 1}}
      {{a.s++}}
     
      <input v-model="a.b.c.d" g="9" :h="89" @click="foo">
      <mytest :d="d" ll="ddd" v-model="a.b.c.d" @fbc="foo" @fc.native="foo">
        <template slot='asc'>11111</template>
        <template v-slot:asd="{ds}" jj="ddd">
         <div>{{ds}}</div>
        </template>
      </mytest>
    </section>
    <script src="../../dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
